button {
  font-size: 400%;
  margin: 0px;
  background: none;
  border: none;
  cursor: pointer;
}

body, h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.clip {
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width:200px;
  height:30px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}
input[type='checkbox']:checked {
  background: #abd;
}

#recordlist {
  /* offset height of control panel and title */
  height: calc(100% - 233.33px - 79.54px);
  /* overflow-y: auto; */
}

#merge {
  border-width:0px;
  /* position:absolute;
  left:0px;
  top:0px; */
  width:140px;
  height:40px;
  color: white;
  background:inherit;
  background-color:rgba(242, 118, 109, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
}

#control-panel {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 105.45px);
}

body {
    text-align: center;
}

